<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>SoundLoader demo page</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/components/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div id="container">
      <div class="row">
        <div class="col s6">
          <div class="card blue-grey">
            <div class="card-content white-text">
              <span class="card-title">ミュージックプレーヤー</span>
              <% var numOfTracks = 7 %>
              <% for (var i = 0; i < numOfTracks; i += 1) { %>
              <p class="buttons">
                <a id="track-<%= (i + 1) %>-play" class="btn-floating btn-large waves-effect waves-light light-blue"><i class="material-icons left">play_arrow</i>PLAY</a>
                <a id="track-<%= (i + 1) %>-stop" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons left">stop</i>STOP</a>
              </p>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/underscore/underscore-min.js"></script>
    <script src="/components/materialize/dist/js/materialize.min.js"></script>
    <script src="/components/promise-polyfill/dist/polyfill.min.js"></script>
    <script src="/components/es5-shim/es5-shim.min.js"></script>
    <script src="/components/SoundJS/lib/soundjs.min.js"></script>
    <script src="/javascripts/sound-loader.js"></script>
    <!--<script src="//cdn.rawgit.com/wiz-code/sound-loader/d8942303/dist/sound-loader.min.js"></script>-->
    <script src="/javascripts/main.js"></script>
  </body>
</html>