<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/components/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div id="container">
      
    </div>
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/underscore/underscore-min.js"></script>
    <script src="/components/materialize/dist/js/materialize.min.js"></script>
    <script src="/components/SoundJS/lib/soundjs.min.js"></script>
    <script src="/javascripts/sound-loader.js"></script>
    <script src="/javascripts/index.js"></script>
  </body>
</html>